@model RAI_Proj_2.Models.User

@{
	ViewData["Title"] = "Add Friend Page";
}

<div>
	<h4>ADD FRIEND</h4>
	<form asp-action="Add">
		<div>
			<labe>
				Login:</label>
				<input asp-for="login" />
				<br />
				<input type="submit" value="Add Friend" />
		</div>
	</form>
</div>