@{
	ViewData["Title"] = "Home Page";
}

<div>
	<ul>
		<li>
			<a asp-area="" asp-controller="Admin" asp-action="Add">Add User</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Admin" asp-action="List">User List</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Admin" asp-action="Init">Init</a>
		</li>
	</ul>
</div>
